functionsDirectory = "D:\\framer\\wall-vastra\\frontend\\netlify\\functions"
functionsDirectoryOrigin = "ui"
plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "D:\\framer\\wall-vastra\\frontend\\build"
publishOrigin = "ui"
commandOrigin = "ui"
base = "D:\\framer\\wall-vastra\\frontend"
command = "npm run build"
functions = "D:\\framer\\wall-vastra\\frontend\\netlify\\functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]